@charset "utf-8";

.container{
	width: 1400px;
  margin: 0 auto;
  background-color: rgb(254, 255, 199);
}

.header{
  padding:135px 20px 0 20px ;
  background-color:green;
}

.section{
  background-color: ##666;
}

.thumbnail{
  background-color: tomato;
}
.thumbnail img{
  min-width:300px;
  height:300px;
  background-color: #ededed;
}
.thumbnail h2{
  margin-top:30px;
}
.footer{
  height:330px;
  background-color:#666;
}